.button {
  width: 20em;
  height: 2.75em;
  border-radius: 50px;
  font-family: "Segoe UI";
  font-size: 1.25em;
  border: none;
  outline: none;
  color: #fff;
  text-align: center;
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  border-radius: 26px;
  background: linear-gradient(90deg, #2ab12f 3.27%, #99a32b 91.18%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.71);
}
.button:hover {
  background: linear-gradient(90deg, #1f8c22 3.27%, #848d1e 91.18%);
  cursor: pointer;
}
.upload {
  margin-top: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* background-color: white; */
}
.dropZone {
  border: 3px dashed rgba(255, 255, 255, 0.605);
  border-radius: 1rem;
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 3vh;
  cursor:pointer;
  box-sizing: border-box;
  box-shadow: rgba(21, 241, 18,0.2) 0px 54px 55px, rgba(21, 241, 18,0.2) 0px -12px 30px, rgba(21, 241, 18,0.2) 0px 4px 6px, rgba(21, 241, 18,0.2) 0px 4px 5px;;
}
.cloud {
  height: 10vh;
}
.dropZone p {
  font-size: 1em;
  text-align: center;
  color: white;
  font-family: "Segoe UI";
}
.preview {
  height: 90%;
  width: 90%;
}
