.Prediction {
  height: 40vh;
  width: 15vw;
  padding: 2.5em;
  /* background-color: rgba(223, 229, 235, 0.868); */
  background-color: rgb(223, 229, 235);
  position: fixed;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100px;
}

.Prediction img {
  height: 5vh;
}

.Prediction button {
  outline: none;
  border: none;
  color: white;
  background: linear-gradient(90deg, #3144eb 3.27%, #da3ea4 91.18%);
  height: 5vh;
  width: 7vw;
  font-size: 1em;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(49, 46, 46, 0.71);
  cursor: pointer;
}

.Prediction button:hover {
  background: linear-gradient(90deg, #2b3ccf 3.27%, #a92f7e 91.18%);
}

.PredictionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: black;
}

.Prediction li {
  list-style: none;
  font-family: "Segoe UI";
  font-size: 1.1em;
  font-weight: 500;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
@media screen and (min-height: 890px) {
  .Prediction button {
    height: 3vh;
  }
}
