.popup {
  height: auto;
  width: auto;
  padding: 2.5em;
  border-radius: 12px;
  /* background-color: rgba(223, 229, 235, 0.868); */
  background-color: rgba(223, 229, 235);
  position: fixed;
  border-radius: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100px;
  transition: height 0.3s ease-in-out, width 0.6s ease-in-out;
}
.popup button {
  outline: none;
  border: none;
  color: white;
  background: linear-gradient(90deg, #3144eb 3.27%, #da3ea4 91.18%);
  height: 5vh;
  width: 7vw;
  font-size: 1em;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(49, 46, 46, 0.71);
  cursor: pointer;
}
.popup button:hover {
  background: linear-gradient(90deg, #2b3ccf 3.27%, #a92f7e 91.18%);
}
.popupContent {
  font-family: "Segoe UI";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(20, 20, 20);
  font-weight: 500;
  font-size: 1.1em;
}
.popupContent img {
  height: 7vh;
}
@media screen and (min-height: 890px) {
  .popup button {
    height: 3vh;
  }
}
