@font-face {
  font-family: "Dela Gothic One";
  src: url("/DelaGothicOne-Regular.ttf") format("truetype");
}
.caption {
  display: flex;
  margin-top: 5em;
  flex-direction: column;
  justify-content: end;
  color: white;
}

.caption .heading {
  font-family: "Dela Gothic One";
  font-size: 2.75em;
  font-weight: 500;
  margin-top: 4em;
}
.caption p {
  font-family: "Segoe UI";
  /* font-weight: 700; */
  font-size: 1.55em;
}
@media screen and (max-height: 850px) {
  .caption {
    margin-top: 2vh;
    height: 40vh;
  }
}
@media screen and (max-width: 1300px) {
  .caption {
    margin-top: 0em;
    height: 40vh;
  }
  .caption .heading {
    margin-top: 1em;
  }
}
