.about {
  margin: 0;
  padding: 0;
  background: black;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  box-sizing: border-box;
}

.description {
  width: 90vw;
  margin: auto;
  padding: 2em;
  box-sizing: border-box;
}
.description p {
  font-size: 1.2em;
  line-height: 1.5;
}
.description p,
h3 {
  font-family: "Segoe UI";
}
.description h3 {
  filter: drop-shadow(0 0 7px blue);
}
