@font-face {
  font-family: "Dela Gothic One";
  src: url("/DelaGothicOne-Regular.ttf") format("truetype");
}
.contact {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  color: white;
  box-sizing: border-box;
}
.contact .heading {
  font-family: "Dela Gothic One";
  font-size: 4em;
  filter: drop-shadow(0 0 10px rgb(159, 25, 182));
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -0.25em;
}
.contact .contactbanner {
  margin: 0;
  padding: 0;
  position: relative;
  height: 55vh;
  width: 100vw;
  background: url("./Contactus.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.passage {
  color: white;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
  margin: 5em;
  font-family: "Segoe UI";
}
.imgheading {
  text-align: center;
  color: white;
  font-family: "Dela Gothic One";
  font-size: 4em;
  margin-bottom: 2em;
  filter: drop-shadow(0 0 12px rgb(169, 26, 194));
}
.images {
  height: 50vh;
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.img1details,
.img2details {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-bottom: 5em; */
  padding-bottom: 3em;
}
.img1,
.img2 {
  border-radius: 100%;
  height: 40vh;
  width: 40vh;
  box-shadow: 0 0 40px rgba(128, 19, 147, 0.7);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.img1:hover,
.img2:hover {
  box-shadow: 0 0 60px rgba(128, 19, 147, 0.9);
  transform: scale(1.05);
}
.img1 {
  background: url("./satya1.jpeg");
  background-size: cover;
}
.img2 {
  background: url("./sneha.jpeg");
  background-size: cover;
}
.name {
  font-family: "Segoe UI";
  font-size: 2em;
}
.details {
  font-family: "Segoe UI";
  margin-top: -1em;
}
.icon {
  height: 3vh;
  width: 3vh;
  transition: transform 0.25s ease-in-out;
}
.icons {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  transform: scale(1.5);
}
@media screen and (min-height: 890px) {
  .contact .contactbanner {
    height: 42vh;
  }
}
