.container {
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  margin: auto;
  color: white;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin-top: -20em;
}

.imgcontainer {
  width: 50%;
}

.imgcontainer img {
  height: 60vh;
  width: 60vh;
  box-shadow: rgba(21, 241, 18, 0.2) 0px 54px 55px,
    rgba(50, 248, 47, 0.2) 0px -12px 30px, rgba(21, 241, 18, 0.2) 0px 4px 6px,
    rgba(21, 241, 18, 0.2) 0px 4px 15px;
  border-radius: 10px;
}

.subcontainer h3 {
  font-size: 3em;
  font-family: "Dela Gothic One";
  filter: drop-shadow(0 0 20px rgb(66, 250, 66));
}

.subcontainer p {
  font-size: 1.5em;
  margin-top: -0.25em;
  line-height: 1.5;
}

.subcontainer p em {
  font-style: italic;
  font-size: 1.8em;
}

@media screen and (max-height: 890px) {
  .imgcontainer img {
    height: 45vh;
    width: 45vh;
  }

  .subcontainer p {
    font-size: 1.1em;
  }

  .subcontainer p em {
    font-style: italic;
    font-size: 1.75em;
  }
  .bg {
    overflow-y: scroll;
  }
}
