.navbar {
  width: 60vw;
  font-family: "Segoe UI";
  padding: 0.5em;
  font-size: 1.15em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: white;
}
.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Segoe UI";
}
.navbar a:hover {
  color: #ddc6c6;
}
.navbar img {
  width: 1.75em;
  height: 1.75em;
}
.navbar div {
  display: flex;

  align-items: center;
  gap: 0.5em;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.navbar h1 {
  font-size: 1.15em;
}
